Flask
Flask-Cors
python-dotenv
google-auth
google-auth-oauthlib
google-api-python-client
langchain
langchain-community
langchain-groq
requests
pypdf
torch
torchvision
torchaudio
sentence-transformers
chromadb
tokenizers==0.21
gunicorn
pymongo
dnspython
psutil
